/* Content frame styles */
.content-outer-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  position: absolute;
  top: 4.3125rem; bottom: 0;
  left: 0; right: 0;

  overflow: hidden;
  z-index: 1;
}

.content-inner-frame {
  display: flex;
  flex-direction: column;
  
  width: 60.75rem;
  margin: 0; margin-left: 8.75rem;
}