/* Content frame styles */
.content-outer-frame {
  display: flex;
  flex-direction: row;
  justify-content: start;
  
  position: absolute;
  top: 4.3125rem; bottom: 0;
  left: 0; right: 0;

  overflow-x: hidden;
  z-index: 1;
}

.content-inner-frame {
  display: flex;
  flex-direction: column;
  
  width: calc(100% - 8.75rem);
  max-width: 60.75rem;
  /* margin-left: 8.75rem; */
}

.content-sidebar-excluder {
  min-width: 8.75rem;
  
  opacity: 0;
}

.content-null-box {
  min-width: 0;
  width: calc(50% - 34.75rem);

  opacity: 0;
}