/* Header Frame Styles */
.header-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  position: fixed;
  top: 0; left:0; right: 0;
  height: 60px;

  background-color: white;
}

.header {
  width: 1200px;
  height: 40px;
  margin-top: 15px; padding-bottom: 5px;

  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: white;
  border-bottom-color: rgb(120, 120, 120);
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Header Name and Position */
.header-left {
  width: 450px;
  height: 100%;
  margin-left: 18px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-name {
  width: 170px;
  height: 100%;
  margin-right: 30px;
}

.header-position {
  width: 250px;
  height: 100%;
}

/* Header Search Bar */
.header-right {
  width: 300px;
  height: 100%;
  margin-right: 16px;

  display: flex;
  flex-direction: row;
}

/* Header Text Style */
.header-name-text {
  font-family: Kumar One;
  font-size: 25px;
  text-align: left;
  color: darkslateblue;

  margin: 0; margin-top: 7px;
}

.header-position-text {
  font-size: 19px;
  text-align: left;

  margin: 0; margin-top: 18px;
}