/* Home Content Styles */
/* Welcome Banner Styles */
.home-banner-container {
  width: 100%;
  height: 9.4rem;
  
  position: relative;
}

.home-banner-img {
  width:100%;
  min-width: 60.75rem;
}

.home-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  position: absolute;
  margin-top: 0.7rem;
  top: 0;
  
  pointer-events: none;
}

.home-banner-text p {
  font-size: clamp(1rem, 13.5vw, 9rem);
  font-weight: 700;
  text-align: center;
  color: white;
}

/* Home Welcome Message */
.home-welcome-container {
  width: 85%;
  height: 20rem;
  
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  
  margin: 3rem auto 0 auto;
}

  /* Welcome Hello */
.home-welcome-hello {
  width: 100%;
  height: 2.5rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-welcome-hello p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  color: #5171f4;
}

  /* Welcome Message Body */
.home-welcome-message-container {
  width: 100%;
  height: 30rem;
  
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.home-welcome-message {
  width: 100%;
  font-size: 1rem;
}