/* Projects Content Styles */
/* Projects Container */
.projects-container {
  width: 85%;
  height: auto;
  margin: 1.5rem auto 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  justify-content: center;
}

.projects-general-container {
  min-height: 12rem;
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid purple;
  background: lightblue;
}

.projects-general-container p {
  font-size: 2rem;
  text-align: center;
}