/* Projects Content Styles */
/* Projects Container */
.projects-container {
  width: 85%;
  height: 60rem;
  margin: 1.5rem auto 0 auto;

  display: flex;
  flex-direction: column;
}

.projects-general-container {
  width: 100%;
  height: 12rem;
  margin-top: 1.5rem;
  
  display: flex;
  flex-direction: row;

  background: lightblue;
}

  /* Image Style for Project Intro */
/* .img-projects {
  
} */

/* Text Style for Project Intro */
/* .projects-intro {
  
}

.projects-intro-title {
  
}

.projects-intro-description {
  
}

.projects-intro-link {

} */